@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nerko+One&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #261225;
}
.chute{
    width: 300px;
    padding: 10px;
    text-align: center;
    
  
    padding: 8px;
}
.chute h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9em;
    color: #f0b9bb;
}

.numero_digitar input{
    outline: none;
    background-color: #151229;
    color:#F77E0E ;
    padding: 15px;
    border:3px solid #8A2FAA;
}

.btn{
    width: 130px;
    cursor: pointer;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    background-color: rgb(239, 60, 11);
    color: rgb(70, 9, 55);
    border-radius: 40px;
    height: 50px;
}

.btn:hover{
    color: black;
    background-color: rgb(244, 97, 38);
}

.acerto{
    height: 400px;
    display: none;
    background-color:rgba(45,111,11,0.1);
    padding: 15px;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.infor_numero{
    /* background-color: red; */
    width:300px;
    font-family: 'Nerko One', cursive;
    color: rgb(241, 10, 10);
    font-size: .8em;
    padding: 5px;
}

.caixa_numeroAcer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(10, 208, 10);
    font-size: .9em;
    align-items: center;
    justify-content: center;
    height: 200px;
    /* background-color: green;background-color: green; */
}

.numeroPensado{
    height: 90px;
    align-items: center;
    font-weight: 900;
    font-size: 5em;
    justify-content: center;
    display: flex;
    
    text-align: center;
    width: 80px;
    color: orange;
    background-color: rgb(47, 41, 41);
}
.num_acerto{
    display: block;
}

.sumir_none{
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icones_chance{
    display: flex;
    gap: 20px;
}

.chance{
   display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

.subirNome{
    display: none;
    width: 250px;
    height: auto;
    
    padding: 10px;
    background-color: #1b0d0d;
    color: #6a82e3;

}
.subirNome h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6em;
}
.gameOver{
    width: 300px;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    height: 300px;
}

.vocPerd{
    width: 200px;
    height:auto;
    text-transform: uppercase;
    color: rgb(233, 0, 0);
    font-family: 'Nerko One', cursive;
    font-size: 1.7em;
    padding: 10px;
    background-color: rgb(14, 3, 3);
}

.jogarNovamente button{
    background-color: #8e0d65;
    border-radius: 10px;
    color: white;
    border:none;
    cursor: pointer;
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    width:170px;
    padding: 10px;
}
.jogarNovamente button:hover{
    background-color: #b81584;
    border: 3px solid #234c67;
    color: black;
}

.btn_jogar{
    background-color: red;
}

.h3_inform{
    text-transform: uppercase;
}

/* .numero_digitar{
    display: none;
}

.btn_button{
    display: none;
} */